# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
venv/
translator-env/

# OS
.DS_Store
Thumbs.db

# Artifacts / models (KHÔNG PUSH)
artifacts/
models/
*.onnx
*.pt
*.bin

# Audio debug
artifacts/debug_audio/
*.wav

# Editor
.vscode/
.idea/

# Cache
.cache/

# stray files
NoReturn
TupleStr
str
